<div class="addon">
  <div class="addon-title h4 {{type}}">{{title}}</div>
  <!--<div class="addon-checkbox"><input type="checkbox" {{#if checked}}checked="checked"{{/if}} {{#if disabled}}disabled{{/if}}/></div>-->
  <div class="addon-checkbox"><input type="checkbox" {{#if checked}}checked="checked"{{/if}} /></div>
  <div class="addon-description {{type}}">{{description}}</div>
  <div class="addon-image {{#if newOffer}}new{{/if}}"><img src="img/addon-icons/{{image}}" /></div>
</div>