.features-widget {
  color: #555;
  position: absolute;
  right: 0;
  display: block;
  z-index: 10000;
  width: 370px;
  padding: 10px;
  border: 1px solid #3278b3;
  background: white;
  top: 50px;
  transition: all 0.5s ease-in-out;

  &.collapsed {
    right: -370px;
  }

  .side-label-container {
    transform: rotate(-90deg);
    display: block;
    position: absolute;
    top: 27px;
    left: -65px;

    .side-label {
      cursor: pointer;

      padding: 10px;
      border: 1px solid;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;

      color: #fff;
      background-color: #428bca;

      text-shadow: 0 -1px 0 #3071a9;
      background-image: linear-gradient(to bottom, #428bca 0%, #3278b3 100%);
      background-repeat: repeat-x;
      border-color: #3278b3;

      &.off {
        -moz-animation-name: none;
        -webkit-animation-name: none;
        -ms-animation-name: none;
        animation-name: none;
      }

      &:before {
        margin-right: 5px;
      }
    }
  }

  .addons-container {
    max-height: 500px;
    overflow: auto;

    .addon {
      padding: 10px;
      border-top: 1px solid #ddd;
      overflow: auto;

      .addon-title.premium:before, .addon-title.requested:before {
        color: red;
        content: "\e007";
        font-family: 'Glyphicons Halflings';
      }

      .addon-checkbox {
        float: left;
        padding: 0 15px 0 0;
      }

      .addon-description {
        float: left;
        max-width: 250px;

        &.requested {
          opacity: 0.5;

          &:after {
            content: "request sent";
            display: block;
            transform: rotate(-20deg);
            color: red;
            position: relative;
            font-weight: bold;
            margin-top: -20px;
            margin-left: 85px;
            bottom: 50px;
          }
        }
      }

      .addon-image {
        float: right;
        width: 51px;
        height: 50px;
        border: 1px dotted #ddd;
        //padding: 0 0 0 10px;
        padding: 0;

        &.new:after {
          content: "";
          background: url("../../img/new-icon.png") no-repeat;
          background-size: 35px;
          background-position: right top;
          position: relative;
          width: 50px;
          height: 50px;
          display: block;
          margin-top: -50px;
        }

        img {
          opacity: 0.7;
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}